@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* -----------------------
full style of  top section 
--------------------------*/

.top-section {
    height: 600px;
    margin-bottom: 70px;
    background-color: #2D259F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.top-section-heading {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 45px;
    line-height: 80px;
}

.top-section-heading:hover {
    color: #Efcd53;
    transition: 1s ease;
}

.top-section-link {
    text-decoration: none;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E76F51;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.top-section-link:hover {
    transition: 1s ease;
    background-color: #99e699;
}

.fa-arrow-right {
    margin-left: 4px;
}

/* -----------------------
ending of  top section 
--------------------------*/



/* -------------------------
full style of  middle section 
--------------------------*/

.middle-section {
    width: 1080px;
    margin-left: 180px;
    margin-bottom: 150px;
}

.all-players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.each-player {
    width: 330px;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
    width: 300px;
    height: 256px;
    margin-top: 15px;
    margin-left: 15px;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-name , .player-details {
    margin-left: 15px;
}
/* -----------------------
ending of  middle section 
--------------------------*/



/* -------------------------
full style of  bottom section 
--------------------------*/

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.bottom-section-content {
    margin-left: 182px;
}

.bottom-section-heading {
    font-size: 46px;
    line-height: 65px;
    color: #0A0826;
}

.bottom-section-describe {
    font-weight: 400;
    color: #6C6C6C;
}

.bottom-section-link {
    text-decoration: none;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    background-color: #E76F51;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.fa-arrow-right {
    margin-left: 4px;
}

.bottom-section-link:hover {
    background-color: #99e699;
    transition: 1s ease;
}
.bottom-section-img {
    margin-left: 50px;
    margin-right: 140px;
}

.bottom-section-img:hover {
    transform: rotate(360deg);
    transition: 1.25s ease-in-out;
}

/* -----------------------
ending of  bottom section 
--------------------------*/


/* --------------------------
full style of  footer section
---------------------------*/
.footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-icon img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* -----------------------
ending of  footer section 
--------------------------*/

